<div class="m-3">
    <h1>Venta de articulo común</h1>
    <label for="styledInput" class="input-label">Nombre: </label>
    <input type="text" class="styled-input" id="styledInput" placeholder="Ex. Galletitas de animalito"><br>
    <label for="styledInput" class="input-label">Nombre: </label>
    <input type="text" class="styled-input" id="styledInput" placeholder="Ex. Galletitas de animalito"><br>
    <label for="styledInput" class="input-label">Nombre: </label>
    <input type="text" class="styled-input" id="styledInput" placeholder="Ex. Galletitas de animalito">
    
</div>