/* New buttons and interface styles */
.button-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.button-crud{
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    font-size: 80px;
    display: flex;
    flex-direction: column;
}

.button-crud:hover{
    transform: scale(1.02);
}

.button-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.action-button {
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

.action-button:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* End new buttons and interface styles */




.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

#main-container{
    padding: 40px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.centered-div {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}
.small-input{
    max-width: 250px;
}
.mt-40{
    margin-top: 40px;
}

@media (max-width: 1200px){
    .small-input{
        max-width: 220px;
    }
}

@media (max-width: 576px){
    .small-input{
        max-width: 150px;
    }
}