<div id="main-container">
    <div>
      <mat-accordion>
        <mat-expansion-panel (opened)="createPanelOpenState = true"
                                (closed)="createPanelOpenState = false" [expanded]="true">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Crear producto
            </mat-panel-title>
            <mat-panel-description>
                {{createPanelOpenState ? 'Agregando productos!' : 'Clickeame para agregar productos!'}}
            </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <!-- Inicio CREATE Form -->
               <div class="col-xl-6 col-lg-6 col-12">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Código de producto</mat-label>
                      <input matInput placeholder="Ex. azucar ó 3451218778129">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" style="margin-left: 0;">
                        <mat-label>Descripción</mat-label>
                        <input matInput placeholder="Ex. Azúcar morena de kilo">
                      </mat-form-field>


                    <div class="container">
                        <table class="example-full-width centered" cellspacing="0"><tr  class="align-inputs">
                            <td><mat-form-field class="small-input">
                              <mat-icon matPrefix>attach_money</mat-icon>
                              <mat-label>Costo</mat-label>
                              <input matInput placeholder="12.50">
                            </mat-form-field></td>
                            <td><mat-form-field class="small-input">
                              <mat-icon matPrefix>percent</mat-icon>
                              <mat-label>Porcentaje</mat-label>
                              <input matInput placeholder="20">
                            </mat-form-field></td>
                          </tr></table>
                    </div>

                    <div class="container">
                        <table class="example-full-width centered" cellspacing="0"><tr  class="align-inputs">
                            <td><mat-form-field class="small-input">
                              <mat-icon matPrefix>price_check</mat-icon>
                              <mat-label>Venta</mat-label>
                              <input matInput placeholder="15">
                            </mat-form-field></td>
                            <td><mat-form-field class="small-input">
                              <mat-icon matPrefix>money_off</mat-icon>
                              <mat-label>Mayoreo</mat-label>
                              <input matInput placeholder="14.20">
                            </mat-form-field></td>
                          </tr></table>
                    </div>

                    <div class="container">
                        <mat-radio-group aria-label="Select an option" class="centered">
                            <mat-radio-button value="1">Venta a granel</mat-radio-button>
                            <mat-radio-button value="2">Venta por paquete</mat-radio-button>
                          </mat-radio-group>
                    </div>
                      
                  </form>
                  
               </div>
               <!-- Final CREATE Form -->
       
               <!-- Inicio CREATE Form utilidades-->
               <div class="col-xl-6 col-lg-6 col-12 px-2">
                   <div class="card">
                       <div class="card-body">
                       Seguimos trabajando aqui!...
                       </div>
                   </div>
               </div>
           </div>
        </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="mt-40">
      <mat-accordion>
        <mat-expansion-panel (opened)="deletePanelOpenState = true"
                                (closed)="deletePanelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                Eliminar producto
            </mat-panel-title>
            <mat-panel-description>
                {{deletePanelOpenState ? 'Ingresa el codigo del producto a eliminar' : 'Clickeame para eliminar un producto!'}}
            </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Buscar producto código o nombre</mat-label>
                        <input matInput type="text" [(ngModel)]="inputDeleteValue" (keyup.enter)="searchProductForDelete()">
                        <button *ngIf="inputDeleteValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchProductForDelete()">
                            <mat-icon>search</mat-icon>
                        </button>
                      </mat-form-field>
                </div>

                <div class="col-xl-6 col-lg-6 col-12 px-2">
                    <div class="card">
                        <div class="card-body" [tabIndex]="0">
                          <p *ngIf="!productToDelete">{{ deletePlaceholder}}</p>
                          <div *ngIf="productToDelete">
                            <p>Código: {{productToDelete.code}}</p>
                            <p>Descripción: {{productToDelete.description}}</p>
                            <p>Costo: {{productToDelete.cost}}</p>
                            <p>Precio de venta {{productToDelete.salePrice}}</p>
                            <p>Precio de mayoreo: {{productToDelete.wholesalePrice}}</p>
                            <p>Ganancia: {{productToDelete.profitMargin}}%</p>
                            <p>Ultimo cambio: {{productToDelete.modifiedAt}}</p>
                            <button class="btn btn-danger">Eliminar</button>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel> 
        </mat-accordion>
    </div>
</div>
