<div class="main-container">
    <input
        id="search-input"
        type="text"
        class="search-input" 
        placeholder="Busqueda de producto"
        matInput
        [formControl]="inputSearch"
        [matAutocomplete]="auto"
        (keydown.enter)="searchProduct()"
        (keydown.esc)="blurInput()"
        (blur)="resetInput()"
    >
     <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
     >
        <mat-option
            *ngFor="let product of filteredProducts | async" [value]="product.code"
            (keydown.esc)="blurInput()"
            (click)="quickSearch(product.code)"
            [ngClass]="{'is-priority':product.priority != null}"
            >
            <b>{{product.description}}</b> | Precio: <b>{{product.salePrice}}</b>
        </mat-option>
    </mat-autocomplete>
</div>