.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.utilities{
    box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 23px -10px rgba(0,0,0,0.3);
    border-radius: 18px;
}

.svg-color{
    fill: var(--500-color);
}

.svg-input-search{
    cursor: pointer;
    margin-left: -50px;
    margin-top: -5px;
}

.svg-input-search:hover{
    fill: var(--700-color)!important;
}

.table-container{
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.control-panel{
    box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.34);
    -webkit-box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.34);
    margin: 0;
    padding: 0;
}

.control-panel-utils{
    .util{
        margin-left: 20px;
    }
}

.total-sale{
    box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.34);
    -webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.34);
    border-radius: 12px;
    height: 6.5rem;
}

.collect-bill{
    height: 6.5rem;
}

.collect-bill-btn{
    height: 100%;
    width: 100%;
    border-radius: 12px!important;
    font-size: 35px;
}

.collect-icon{
    height: 40px;
    width: 40px;
}

/* Material table */
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}
.selected-row{
    font-weight: 500!important;
    background-color: var(--100-color)!important;
    
}

.wholesale-row{
    background-color: #FFF3CD;
}

.bold-text {
    font-weight: 800!important;
    font-size: medium;
}
  