/* You can add global styles to this file, and also import other style files */

:root{
    /* Purple colors */
    /* --50-color: #fefffa;
    --100-color: #ede9fe;
    --200-color: #ddd5ff;
    --300-color: #c3b4fe;
    --400-color: #b197fc;
    --500-color: #8b5af8;
    --600-color: #7c37f0;
    --700-color: #6d25dc;
    --800-color: #5c1fb8;
    --900-color: #4d1b97;
    --950-color: #2e0f66; */

    /* Blue colors */
    --50-color: #f2f7fd;
    --100-color: #e3eefb;
    --200-color: #c1dcf6;
    --300-color: #8ac0ef;
    --400-color: #4c9fe4;
    --500-color: #3490dc;
    --600-color: #1668b3;
    --700-color: #135291;
    --800-color: #144778;
    --900-color: #163c64;
    --950-color: #0f2742;

    /* Yellow colors */
    /* --50-color: #fefffa;
    --100-color: #fff1d5;
    --200-color: #fedfaa;
    --300-color: #fdc063;
    --400-color: #fba43c;
    --500-color: #f98816;
    --600-color: #ea6d0c;
    --700-color: #c2520c;
    --800-color: #9a4112;
    --900-color: #7c3712;
    --950-color: #431a07; */

    /* Pink Colors */
    /* --50-color: #fefffa;
    --100-color: #fde6e9;
    --200-color: #fbd0d9;
    --300-color: #f7aab9;
    --400-color: #f27a93;
    --500-color: #e63f66;
    --600-color: #d42a5b;
    --700-color: #b21e4b;
    --800-color: #951c45;
    --900-color: #801b40;
    --950-color: #470a1f; */

}

html, body { height: 100%; margin: 0;padding: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

svg{
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.pdv-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    background-color: var(--500-color);
    color: white;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}

.pdv-btn:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--600-color);
}

.square-btn {
    border-radius: 12px;
}

.pdv-btn-fab {
    padding: 15px 30px!important;
    font-size: 22px!important;
    border-radius: 12px!important;
    font-weight: 500!important;
    background-color: transparent!important;
    color: var(--500-color);
}

.pdv-btn-fab:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15)!important;
    background-color: var(--500-color)!important;
    color: white;
    transform: translateY(-2px);
}


/* TOFIX: Pa usar iconos :) */
.hover-button svg {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.search-input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    font-size: 16px;
    border: 1px solid var(--500-color);
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    box-shadow: 0 0 5px rgba(8, 14, 19, 0.5);
}

/* Forms personalized inputs */

.input-label {
    flex: 0 0 120px;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
    text-align: right;
}

.styled-input {
    flex: 1;
    width: 100%;
    padding: 9px 12px;
    font-size: 16px;
    color: #333;
    background-color: white;
    border: 2px solid #3490dc;
    border-radius: 12px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.styled-input:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.styled-input:focus {
    border-color: #2779bd;
    box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.25);
}

